<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Page Title -->
    <meta name="title" content="guruSchools" />

    <!-- Page Description -->
    <meta
      name="description"
      content="GuruSchools helps people to become job-ready and earn high income by providing quality personal coaching, which are customized for your needs & career goals."
    />

    <!-- Keywords - SEO -->
    <meta
      name="keywords"
      content="GuruSchools, job-ready, high income, personal coaching, career development, career goals, online coaching, customized learning, job training, skill development, career coaching, quality coaching, professional growth"
    />

    <!-- Author Information -->
    <meta name="author" content="Kishan Mistry" />

    <!-- title -->
    <title>About Us - GuruSchools</title>

    <!-- favicon - default -->
    <link rel="icon" href="./assets/favicons/favicon.ico" type="image/x-icon" />

    <!-- favicon - browser tab -->
    <link
      rel="icon"
      href="./assets/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/x-icon"
    />

    <!-- favicon - browser bookmark -->
    <link
      rel="icon"
      href="./assets/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/x-icon"
    />

    <!-- favicon - android screen sizes -->
    <link
      rel="icon"
      href="./assets/favicons/android-chrome-192x192.png"
      sizes="192x192"
      type="image/x-icon"
    />

    <link
      rel="icon"
      href="./assets/favicons/android-chrome-192x192.png"
      sizes="192x192"
      type="image/x-icon"
    />

    <!-- favicon - apple screen sizes -->
    <link
      rel="icon"
      href="./assets/favicons/apple-touch-icon.png"
      sizes="180x180"
      type="image/x-icon"
    />

    <!-- Font Awesome - icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Google Fonts - Header:poppins , body:open sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Reuse css -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="../css/about-us.css" />
  </head>
  <body>
    <script></script>
  </body>
</html>
